/* Required body padding for Fixed Navbar */
body {
	padding-top: 65px;
}

/* Style Toolber */
#current-ticker {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
}
div#toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Style Percentages */
.positive {
	color: green;
	font-weight: bold;
}
.negative {
	color: red;
	font-weight: bold;
}
.default {
	font-weight: bold;
}

/* Style Tables */
table.floatThead-table {
	border-top: none;
	border-bottom: none;
	background-color: #f5f5f5;
}

