{% from 'macros_alerts.html' import flash_alerts %}
{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css') }}">
{% endblock %}
{% block content %}

	<div class="container-fluid">
		{{ flash_alerts() }}
		<div id="toolbar">
			{# Ticker #}
			<span id="current-ticker">{{ session.current_ticker }}</span>
			<form action="{{ url_for('update_ticker') }}" method="POST" class="form-inline" id="ticker_form">
				<select id="ticker" name="ticker" class="form-control">
					<option>More Tickers</option>
					{% for ticker in all_tickers %}
						<option value="{{ ticker }}">{{ ticker }}</option>
					{% endfor %}
				</select>
				<button type="submit" class="btn btn-default">Update Symbol</button>
			</form>
			{# Dates #}
			<form action="{{ url_for('update_dates') }}" method="POST" class="form-inline">
				<input type="text" id="daterange" name="daterange" class="form-control">
				<button type="submit" class="btn btn-default">Update Dates</button>
			</form>
		</div>

		<div class="row">
			{# RAW DATA #}
			<div class="col-sm-6">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Adj Close</th>
							<th>% Change</th>
							<th>Volume</th>
						</tr>
					</thead>
					<tbody>
						{% for item in raw_data %}
							<tr>
								<td>{{ item.Date.strftime('%Y-%m-%d') }}</td>
								<td>{{ item['Adj Close'] | round(2) }}</td>

								<td class="{{ item.percent_change | get_pct_change_category }}">{{ '${:,.2f}'.format(item.percent_change * 100) | replace('$nan', 'N/A') }}</td>
								<td>{{ item.Volume | round(2) }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>{# .col-sm-6 #}

			{# Stats and Chart #}
			<div class="col-sm-6">

				{# Stats #}
				<table class="table table-hover table-bordered">
					<tbody>
						{# General #}
						<tr>
							<th>Start Date</th>
							<td>{{ session.start_date.strftime('%Y-%m-%d') }}</td>
						</tr>
						<tr>
							<th>End Date</th>
							<td>{{ session.end_date.strftime('%Y-%m-%d') }}</td>
						</tr>
						<tr>
							<th>Total days</th>
							<td>{{ stats.total_days }}</td>
						</tr>
						<tr>
							<th>% Change</th>
							<td class="{{ stats.percent_change_range | get_pct_change_category }}">{{ (stats.percent_change_range * 100) | round(2) }}%</td>
						</tr>
						{# Price #}
						<tr>
							<th>Low</th>
							<td>{{ stats['Adj Close'].min | round(2) }}</td>
						</tr>
						<tr>
							<th>High</th>
							<td>{{ stats['Adj Close'].max | round(2) }}</td>
						</tr>
						<tr>
							<th>Avg</th>
							<td>{{ stats['Adj Close'].mean | round(2) }}</td>
						</tr>
						{# Volume #}
						<tr>
							<th>Low</th>
							<td>{{ "{:,}".format(stats.Volume.min | int) }}</td>
						</tr>
						<tr>
							<th>High</th>
							<td>{{ "{:,}".format(stats.Volume.max | int) }}</td>
						</tr>
						<tr>
							<th>Average</th>
							<td>{{ "{:,}".format(stats.Volume.mean | int) }}</td>
						</tr>
					</tbody>
				</table>


				{# Chart #}
				<div class="well">
					<h4 class="text-center">Stock Chart</h4>
					<div id="stock_chart"></div>
				</div>

				{# DEV #}
				<p>DATES:</p>
				<p>{{ session.start_date }}</p>
				<p>{{ session.end_date.strftime('%Y-%m-%d') }}</p>
				<p>{{ ipo_date }}</p>
				<p>{{ latest_date }}</p>

			</div>{# .col-sm-6 #}
		</div>{# .row #}
	</div>{# .container-fluid #}

{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3-v3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.floatThead.min.js') }}"></script>
  <script>
  	
  	$(document).ready(function(){

  		// DateRangePicker
  		$('input[name="daterange"]').daterangepicker({
  			startDate: moment({{ session.start_date.strftime('%Y-%m-%d') | tojson }}, 'YYYY-MM-DD'),
  			endDate: moment({{ session.end_date.strftime('%Y-%m-%d') | tojson }}, 'YYYY-MM-DD'),
  			minDate: moment({{ ipo_date.strftime('%Y-%m-%d') | tojson }}, 'YYYY-MM-DD'),
  			maxDate: moment({{ latest_date.strftime('%Y-%m-%d') | tojson }}, 'YYYY-MM-DD'),
  			isInvalidDate: function(date){
  				return (date.day() == 0 || date.day() == 6);
  			},
  			autoApply: true,
  			linkedCalendars: false
  		});

  		// Construct Chart
  		var stock_chart = c3.generate({
  			bindto: '#stock_chart',
  			padding: {left: 60, right: 17},
  			data: {
  				x: 'x',
  				columns: [
  					{{ chart_data.dates | tojson }},
  					{{ chart_data.prices | tojson }}
  				]
  			},
  			axis: {
  				x: {
  					label: {text: 'Time', position: 'outer-right'},
  					type: 'timeseries',
  					tick: {
  						count: 4,
  						format: '%m/%d/%y'
  					}
  				},
  				y: {
  					label: {text: 'Price', position: 'outer-middle'},
  					tick: {format: d3.format('.2f')}
  				}
  			},
  			grid: {
  				x: {show: true},
  				y: {show: true}
  			},
  			point: {show: false}
  		});

  	});

  </script>
{% endblock %}